@charset "utf-8";

/* ---------------------------------------------- */
/* ■ 共通
/* ---------------------------------------------- */

:root {
  --color-main: rgb(40, 160, 255);
  --color-sub: rgb(200, 230, 255);
  --color-gray: rgb(100, 100, 100);

  --width-side: 200px;
  --height-header: 80px;
  --height-side: 100px;
}

@font-face {
  font-family: "MyFont";
  src: url("./font/JKG-M_3.ttf");
}

body {
  margin: 0;

  font-family: "MyFont";
  font-size: 16px;
}

/* ---------------------------------------------- */
/* ■ ヘッダーエリア
/* ---------------------------------------------- */

/* 背景 */
.section_header {
  display: flex;
  align-items: end;

  min-width: 100%;
  height: var(--height-header);

  background: var(--color-main);
}

.section_header > .title {
  width: 100%;

  padding: 0 0 10px 20px;

  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

/* 更新日時 */

.section_header .date {
  display: inline-block;

  height: fit-content;

  padding: 8px 4px;

  color: #fff;
  font-size: 16px;
}

.section_header .date > .head {
  padding: 4px 8px;
  margin-right: 4px;

  color: var(--color-main);
  font-size: 16px;

  background-color: #fff;
  border-radius: 4px;
}

/* スマホ用 */
@media screen and (max-width: 820px) {
  .section_header .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 700px) {
  .section_header .title {
    font-size: 30px;
  }
}

/* ---------------------------------------------- */
/* ■ ディティールエリア
/* ---------------------------------------------- */
.section_detail {
  display: flex;
  height: calc(100% - var(--height-header));
}

/* スマホ用 */
@media screen and (max-width: 700px) {
  .section_detail {
    height: calc(100% - var(--height-header) - var(--height-side));
  }
}

/* ---------------------------------------------- */
/* ■ ディティールエリア：サイドバー
/* ---------------------------------------------- */

/* 背景 */
.section_side {
  width: var(--width-side);
  height: 100%;

  background-color: var(--color-sub);
}

/* スマホ用 */
@media screen and (max-width: 700px) {
  .section_side {
    position: fixed;
    bottom: 0;
    bottom: 0;

    width: 100svw;
    height: var(--height-side);
  }
}

/* 年表 */

/* ---------------------------------------------- */
/* ■ ディティールエリア：メイン
/* ---------------------------------------------- */

/*  */

.section_main {
  flex: 1;

  padding: 16px 32px;

  overflow-y: auto;
}

.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  margin-top: 16px;
}

/* タイトル */

.container > .title {
  width: 100%;
  padding-bottom: 8px;

  font-weight: bold;
}

.container > .title > .category {
  width: fit-content;
  padding: 6px 8px;

  color: var(--color-main);
  font-size: 14px;

  background-color: var(--color-sub);
  border-radius: 4px 4px 0 0;
}

.container > .title > .text {
  padding: 12px 8px;

  word-break: keep-all;

  background-color: var(--color-sub);
  border-radius: 0 4px 4px 4px;
}

/* 担当箇所 */

.container > .charge_point {
  display: flex;
  align-items: center;
  justify-content: end;

  width: 100%;

  margin-top: 12px;
  margin-right: 8px;

  font-size: 14px;
}

.container > .charge_point > .title {
  display: flex;
  justify-content: center;

  min-width: 60px;

  margin-right: 12px;
  padding: 4px 8px;

  color: #fff;

  background-color: var(--color-gray);
  border-radius: 4px;
}

/* アイテム */

.container .item {
  display: flex;
  justify-content: center;

  width: 45%;
  margin: 16px;
}

.container .item > img {
  width: auto;
  max-width: 100%;
  max-height: 70svh;
}

.container.web_site .item {
  width: auto;
}

.container.web_site .item > img {
  max-height: 370px;
}

.container.sp_app .item {
  width: 20%;
}

/* スマホ用 */

@media screen and (max-width: 1200px) {
  .container > .item {
    width: 100%;
  }

  .container.sp_app .item {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .section_main {
    margin-left: 0;
  }

  .container.sp_app .item {
    width: 100%;
  }
}
